{% if links %}
    <div class="row g-3 mt-3">
        {% for link in links %}
            <div class="col-md-6 col-lg-4 d-flex">
                <div class="mk-card mk-card--link w-100"><div class="mk-card__body">
                    <h3 class="mk-card__title h5">
                        <a href="{{ link.url }}" class="stretched-link" target="_blank" rel="noopener">{{ link.title }}<i class="bi bi-box-arrow-up-right small ms-1" aria-hidden="true"></i></a>
                    </h3>
                    {% if link.description %}
                        <p class="mk-card__text">{{ link.description }}</p>
                    {% endif %}
                </div></div>
            </div>
        {% endfor %}
    </div>
{% endif %}
